.navbar {
    height: 80px;
   background-color:#154365;
}

.nav-link {
    color: #fff;
}

.nav-link:hover{
    text-decoration: underline;
    color: #fff;
}

#logo-nav {
   margin-left: 35px;
}
.carousel-inner {
    height:90vh;
}

#nossosCursos {
    background-image: url(imagens/fundoazul.jpg);
    /*width: 100%;
    height: 400px;*/
    height: 80vh;
    background-repeat: repeat;
}

#nossosCursos h1 {
    text-align: center;
    color: #fff;   
    padding-top:20px; 
}

#quemSomos {
    background-image: url(imagens/fundoazul.jpg);
    height: 80vh;
    background-repeat: repeat;
    
    
}

#quemSomos p {
    text-align: center;
    color: #fff;
    justify-content: center;
    position: inherit;
    
}

#quemSomos h1 {
    text-align: center;
    color: #fff;  
    padding-top: 20px;  
}

.nossosClientes {
    height: 80vh;
}

.nossosClientes h1{
    text-align: center;
    position: relative;
}

.container p {
    margin-top: -420px;
    
}
 .cadastrar {
     background-color: #154365;
 }
 .cadastrar h3 {
     margin-top: 5%;
 }
 .col order-last {
     margin-top: 5%;
 }
 
 

 @media screen and (max-width: 480px){
    hr {
        display: none;
    }

    #menu {
        display: inline;
    }

    #logo-nav {
        margin-top: -16%;
        text-align: center;
        margin-left: 120px;
    }

    #carouselExampleIndicators {
        margin-bottom: -70%;
    }
    .carousel-indicators{
        margin-bottom: 70%;
    }

    .carousel-control-prev {
        margin-bottom: 60%;
    }

    .carousel-control-next{
        margin-bottom: 60%;
    }

    #nossosCursos {
      height: 50vh;
      margin-bottom: -102%;
      text-align: center;
    }

    #nossosCursos img{
        width: 150px;
        height: 100px;
    }

    #quemSomos {
        margin-top: 100%;
    }
    #nossosClientesParagrafo{
        margin-top: 10%;
    }

}
/*#carouselExampleCaptions {
      margin-bottom: -112%;  
    }*/